<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="10">
    <test verbose="2" preserve-order="true"
        name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.epam.campus.selenium.synchronization.SynchronizationTests">
                <methods>
                    <include name="testWithImplicitWait" />
                    <include name="testWithExplicitWait" />
                    <include name="testWithFluentWait" />
                    <include name="testDynamicPageUpdates" />
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
        name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="com.epam.campus.selenium.synchronization.SynchronizationTests">
                <methods>
                    <include name="testWithImplicitWait" />
                    <include name="testWithExplicitWait" />
                    <include name="testWithFluentWait" />
                    <include name="testDynamicPageUpdates" />
                </methods>
            </class>
        </classes>
    </test>
</suite>