<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test">
        <classes>
            <class name="TestMethods"/>
<!--            <class name="SecondTest"/>-->
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="TestOne">
        <classes>
<!--            <class name="TestMethods"/>-->
            <class name="SecondTest"/>
        </classes>
    </test>
</suite>